@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

$primary: #203262;
$secondary: #5b6bad;
$danger: #7785bc;
$dark: #97a3d4;
$light: #abb5de;
$lighter: #c3ccf0;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "lighter": $lighter,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// NAV overrides

.navbar-toggler-icon {
  background-image: unset;
  background-color: $primary;
  display: block;
  width: 25px;
  height: 5px;
  border-radius: 5px;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  background-color: $primary;
  display: block;
  width: 25px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
}

.navbar-toggler-icon::before {
  translate: 0 -10px;
  width: 17px;
}

.navbar-toggler-icon::after {
  translate: 0 10px;
}

// SEARCH overrides

.form-control::placeholder {
  color: $primary;
  font-size: small;
}

// CALENDAR overrides

.rdrMonth {
  width: 100% !important;
}

.rdrMonthAndYearPickers {
  flex-wrap: wrap;
}

.rdrDateDisplayWrapper {
  background-color: unset !important;
}

.rdrDateDisplayItem input {
  color: $secondary !important;
  font-weight: 600;
}

.rdrWeekDay {
  color: $primary !important;
  font-weight: 600 !important;
}

.rdrStartEdge,
.rdrEndEdge,
.rdrInRange {
  color: $secondary !important;
}

// BUTTON overrides

.btn.active {
  background-color: #203262;
}

#register:hover,
#login:hover,
.basic-nav-dropdown:hover {
  background-color: $primary !important;
  color: white;
}

#basic-nav-dropdown:hover {
  color: white !important;
}
